<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<!-- Logo with click event -->
	<img src="assets/logo.png" alt="Logo" class="logo" (click)="navigateToDashboard()" />
	<h1 class="example-app-name">Excel</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<mat-icon mat-list-icon>home</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
				
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				 <!-- User Management -->
				 <a mat-list-item routerLink="/user-management">
					<mat-icon mat-list-icon>person</mat-icon>
					<span *ngIf="isExpanded || isShowing">User Management</span>
				  </a>
				 <!-- Data Management -->
				 <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<mat-icon mat-list-icon>folder</mat-icon>
					<span class="full-width" *ngIf="isExpanded || isShowing">Data Management</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				  </mat-list-item>
		  
				  <!-- Submenu for Data Management -->
				  <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<a mat-list-item routerLink="/sales">
					  <mat-icon mat-list-icon>shopping_cart</mat-icon>
					  <span *ngIf="isExpanded || isShowing">Sales</span>
					</a>
					<a mat-list-item routerLink="/purchases">
					  <mat-icon mat-list-icon>receipt</mat-icon>
					  <span *ngIf="isExpanded || isShowing">Purchases</span>
					</a>
				  </div>
				   <!-- Python  Integration -->
				  <a mat-list-item routerLink="/python-integration">
					<mat-icon mat-list-icon>code</mat-icon>
					<span *ngIf="isExpanded || isShowing">Python Intergation</span>
				  </a>
				   <!-- Logout Menu Item -->
				   <a mat-list-item (click)="logout()">
					<mat-icon mat-list-icon>logout</mat-icon>
					<span *ngIf="isExpanded || isShowing">Logout</span>
				  </a>
			</div>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>
<!--<div class="example-sidenav-content">
	Main content that resizes properly
</div> -->
</mat-sidenav-container>

