/* filepath: d:\Mary\SourceCode\excel\excel-fe\src\app\app.component.scss */
.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
    width: 100vw;
  }
  
  h3 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
  }

  .note-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  }