<div class="dashboard-container">
    <!-- Left Navigation Bar -->
    <app-sidenav-autosize></app-sidenav-autosize>
  
    <!-- Main Content -->
    <div class="user-management-container">
      <main class="main-content">
        <!-- Search Input -->
        <!-- <mat-form-field appearance="outline" class="search-field">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search users">
        </mat-form-field> -->
  
        <!-- Data Table -->
        <!--<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 custom-table">
  
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="display: none;">ID</th>
            <td mat-cell *matCellDef="let user" style="display: none;">{{ user.id }}</td>
          </ng-container>
  
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let user">{{ user.username }}</td>
          </ng-container>
  
         
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let user">{{ user.email }}</td>
          </ng-container>
  
        
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
            <td mat-cell *matCellDef="let user">{{ user.role }}</td>
          </ng-container>
  
          
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let user">
              <button mat-icon-button color="primary" (click)="editUser(user)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteUser(user)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>-->
        <app-data-grid
          [displayedColumns]="displayedColumns"
          [actions]="['edit', 'delete']"
          [dataSource]="dataSource"
          [paginator]="paginator"
          [sort]="sort"
          [title]="'User Management'"
          [enableSearch]="true"
          (rowAction)="handleRowAction($event)">
        </app-data-grid>
  
        <!-- Paginator -->
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </main>
    </div>
  </div>